.loginsignup {
  width: 100%;
  height: 80vh;
  background: #fce3fe;
  padding-top: 100px;
}

.loginsignup-container {
  width: 500px;
  height: 400px;
  background: white;
  margin: auto;
  padding: 40px 60px;
}

.loginsignup-container h1 {
  margin: 20px 0px;
  font-size: 20px;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.loginsignup-fields input {
  height: 30px;
  width: 95%;
  padding-left: 18px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 16px;
}

.loginsignup-container button {
  width: 200px;
  height: 30px;
  color: white;
  background: #ff4141;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 24px;
}

.loginsignup-login {
  margin-top: 24px;
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 500;
}

.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
}

.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 500px;
}
